.footer{
	padding : 30px;
	background-image : url('../img/slider-bg.jpg');
	background-size : cover;
	background-repeat : none;
	background-position : top left;
	display : flex;
	color : white;
	flex-wrap: wrap;
}

.footer a{
	color : white;
	padding : 10px 0;
}

.footer div{
	display : flex;
	flex-direction : column;
	padding : 0 15px;
	font-size : 13px;
	flex-grow : 1;
}

.footer .message{
	flex-grow : 1;
	max-width:100%;
}

.footer .message textarea{
	height : 100px;
	width : 450px;
	border-radius : 15px;
	background-color : transparent;
	color : white;
	max-width : 100%;
}